html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: #111111;
    font-family: Arial;
    color: white;
}

* {
    box-sizing: border-box;
}

.content {
    text-align: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;

}

.slideshow {
    width: 100%;
    height: 100%;
}

.slideshow > .slide {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow > .slide > div, .slideshow > .slide span {
    transition-duration: 1s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    opacity: 0;
    /*display: none;*/
    font-size: 60px;
    font-weight: bold;
}

.slideshow > .slide span {
    display: inline;
}

.slide em {
    font-style: normal;
    color: blue;
    font-size: 1.1em;
}

.slide .fast {
    transition-duration: 0.35s !important;
    transition-timing-function: ease-in !important;
}

.slide#slide0 > div {
    opacity: 1;
}

.slide#slide4 > div > span {
    display: block;
    height: 0;
    overflow: visible;
}

#slide18 > div {
    margin-top: -3em;
}

#slide19 > div {
    margin-top: -1em;
}

#slide20 > div {
    margin-top: 1em;
}

#slide21 > div {
    margin-top: 3em;
}

#slide22 > div {
    background: rgba(17, 17, 17, .5);
    padding: 10px;
}

.you {
    font-size: 1.5em;
    color: yellow;
    /*margin-bottom: 0.5em;*/
}

.btn {
    cursor: pointer;
    color: #eee !important;
    text-transform: uppercase;
    background: #333;
    padding: 20px;
    border: 4px solid #eee !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 30px;
    text-decoration: none;
}

.btn:hover, .btn.active {
    color: #0074D9 !important;
    border-radius: 50px;
    border-color: #0074D9 !important;
    transition: all 0.3s ease 0s;
    background: #eee;
}

.btn.active {
    color: #2ECC40 !important;
    border-color: #2ECC40 !important;
}

#langs {
    padding: 1em 0;
    font-size: 20px;
}

#langs .btn {
    padding: 8px;
    margin: 0 .3em;
    border-width: 2px !important;
}

#mightyName {
    background: transparent;
    border: 0;
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
    outline: 0;
    color: white;

}

div#credits {
    transition: opacity 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
}

div.github-stars {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

div.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #BBB;
    font-size: 13px;
}

div.footer a {
    color: #AAA;
}

@media (max-width: 420px) {
    .slideshow > .slide > div, .slideshow > .slide span {
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .slideshow > .slide > div, .slideshow > .slide span {
        font-size: 40px;
    }
}


.superman {
    transition: opacity 1s ease;
    opacity: 0;
    position: fixed;
    z-index: 5;
    top: calc(50% - 6rem);
    left: calc(50% - 4rem);
    -webkit-perspective: 100rem;
    perspective: 100rem;
    -webkit-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
}

.superman--bodyAndLegs {
    position: relative;
    width: 8rem;
    height: 12rem;
    background-color: #044f86;
    border-bottom: 1.5rem solid #ffd71f;
    box-shadow: 0 2.5rem 0 0 #F22613;
}

.superman--bodyAndLegs::before, .superman--bodyAndLegs::after {
    content: '';
    position: absolute;
    width: 3.4rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-image: linear-gradient(to bottom, #044f86 0, #044f86, 75%, #F22613 75%, #F22613 100%);
}

.superman--bodyAndLegs::before {
    left: 0;
    top: calc(100% + 2.4rem);
    height: 14rem;
    border-top-right-radius: 5rem 3rem;
}

.superman--bodyAndLegs::after {
    right: 0;
    top: calc(100% + 2rem);
    height: 10rem;
    border-top-left-radius: 5rem 3rem;
    box-shadow: inset 0 3rem 0 #034372;
}

.superman--arm {
    position: absolute;
    width: 3rem;
    height: 13rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.superman--arm__left {
    top: 5rem;
    right: -2rem;
    -webkit-transform: rotate(190deg);
    transform: rotate(190deg);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    background-image: linear-gradient(to bottom, #044f86 0, #044f86, 85%, #f1a66c 85%, #f1a66c 100%);
}

.superman--arm__right {
    top: 0;
    right: 100%;
    background-image: linear-gradient(-45deg, transparent 0, transparent 75%, #F22613 75%, #F22613 100%), linear-gradient(to bottom, #044f86 0, #044f86, 85%, #f1a66c 85%, #f1a66c 100%);
    background-repeat: no-repeat;
}

.superman--neck {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - .8rem);
    height: 1rem;
    background-color: #f1a66c;
    border-radius: .2rem;
}

.superman--neck::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .8rem .8rem 0 0;
    border-color: #F22613 transparent transparent transparent;
}

.superman--cap {
    position: absolute;
    top: -12rem;
    left: -4rem;
    z-index: -1;
    width: 15rem;
    height: 46rem;
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
    background-color: #91170b;
    border-radius: 1rem;
    -webkit-animation: cap 2s infinite linear;
    animation: cap 2s infinite linear;
}

.superman--head {
    position: absolute;
    bottom: .8rem;
    left: 50%;
    height: 6rem;
    width: 5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f1a66c;
    border-radius: .8rem;
    box-shadow: 0 -1.2rem 0 .1rem black;
}

.superman--head::before {
    content: '';
    position: absolute;
    top: -.6rem;
    left: 2rem;
    border-right: .5rem solid black;
    width: 2rem;
    height: 1.5rem;
    border-radius: 50%;
}

.superman--mouth {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 2rem;
    height: 1rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: .4rem solid white;
    border-radius: 50%;
}

.superman--eye {
    position: absolute;
    top: 1.5rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: white;
}

.superman--eye::before {
    content: '';
    position: absolute;
    top: -.5rem;
    width: 1rem;
    height: .2rem;
    background-color: black;
}

.superman--eye__left {
    right: 20%;
    box-shadow: inset -.1rem -.1rem 0 .2rem #22313F;
}

.superman--eye__left::before {
    right: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.superman--eye__right {
    left: 20%;
    box-shadow: inset .1rem -.1rem 0 .2rem #22313F;
}

.superman--eye__right::before {
    left: 0;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.superman--symbol {
    position: absolute;
    border-style: solid;
    height: 0;
    top: 2rem;
    left: .2rem;
    border-width: 0 2rem 1rem 2rem;
    width: 7rem;
}

.superman--symbol::before {
    content: '';
    position: absolute;
    left: -2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5rem 3.55rem 0 3.55rem;
}

.superman--symbol__red {
    z-index: 0;
    border-color: transparent transparent #F22613 transparent;
}

.superman--symbol__red::before {
    top: .9rem;
    border-color: #F22613 transparent transparent transparent;
}

.superman--symbol__yellow {
    top: 2.3rem;
    z-index: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    border-color: transparent transparent #ffd71f transparent;
}

.superman--symbol__yellow::before {
    top: .9rem;
    border-color: #ffd71f transparent transparent transparent;
}

.superman--symbol__yellow::after {
    content: 'S';
    position: absolute;
    left: -1rem;
    top: -.8rem;
    z-index: 1;
    font-size: 5.6rem;
    color: #F22613;
    font-family: "goblin one";
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
        transform: translate3d(0, 0, 0) rotate(25deg);
    }
    10% {
        -webkit-transform: translate3d(0.2rem, 0.2rem, 0) rotate(25deg);
        transform: translate3d(0.2rem, 0.2rem, 0) rotate(25deg);
    }
    20% {
        -webkit-transform: translate3d(0.2rem, 0, 0) rotate(25deg);
        transform: translate3d(0.2rem, 0, 0) rotate(25deg);
    }
    30% {
        -webkit-transform: translate3d(0.4rem, 0.4rem, 0) rotate(25deg);
        transform: translate3d(0.4rem, 0.4rem, 0) rotate(25deg);
    }
    40% {
        -webkit-transform: translate3d(0, 0.3rem, 0) rotate(25deg);
        transform: translate3d(0, 0.3rem, 0) rotate(25deg);
    }
    50% {
        -webkit-transform: translate3d(-0.2rem, 0, 0) rotate(25deg);
        transform: translate3d(-0.2rem, 0, 0) rotate(25deg);
    }
    60% {
        -webkit-transform: translate3d(0.4rem, -0.4rem, 0) rotate(25deg);
        transform: translate3d(0.4rem, -0.4rem, 0) rotate(25deg);
    }
    70% {
        -webkit-transform: translate3d(-0.1rem, -0.3rem, 0) rotate(25deg);
        transform: translate3d(-0.1rem, -0.3rem, 0) rotate(25deg);
    }
    80% {
        -webkit-transform: translate3d(0.3rem, -0.4rem, 0) rotate(25deg);
        transform: translate3d(0.3rem, -0.4rem, 0) rotate(25deg);
    }
    90% {
        -webkit-transform: translate3d(-0.2rem, 0.1rem, 0) rotate(25deg);
        transform: translate3d(-0.2rem, 0.1rem, 0) rotate(25deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
        transform: translate3d(0, 0, 0) rotate(25deg);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
        transform: translate3d(0, 0, 0) rotate(25deg);
    }
    10% {
        -webkit-transform: translate3d(0.2rem, 0.2rem, 0) rotate(25deg);
        transform: translate3d(0.2rem, 0.2rem, 0) rotate(25deg);
    }
    20% {
        -webkit-transform: translate3d(0.2rem, 0, 0) rotate(25deg);
        transform: translate3d(0.2rem, 0, 0) rotate(25deg);
    }
    30% {
        -webkit-transform: translate3d(0.4rem, 0.4rem, 0) rotate(25deg);
        transform: translate3d(0.4rem, 0.4rem, 0) rotate(25deg);
    }
    40% {
        -webkit-transform: translate3d(0, 0.3rem, 0) rotate(25deg);
        transform: translate3d(0, 0.3rem, 0) rotate(25deg);
    }
    50% {
        -webkit-transform: translate3d(-0.2rem, 0, 0) rotate(25deg);
        transform: translate3d(-0.2rem, 0, 0) rotate(25deg);
    }
    60% {
        -webkit-transform: translate3d(0.4rem, -0.4rem, 0) rotate(25deg);
        transform: translate3d(0.4rem, -0.4rem, 0) rotate(25deg);
    }
    70% {
        -webkit-transform: translate3d(-0.1rem, -0.3rem, 0) rotate(25deg);
        transform: translate3d(-0.1rem, -0.3rem, 0) rotate(25deg);
    }
    80% {
        -webkit-transform: translate3d(0.3rem, -0.4rem, 0) rotate(25deg);
        transform: translate3d(0.3rem, -0.4rem, 0) rotate(25deg);
    }
    90% {
        -webkit-transform: translate3d(-0.2rem, 0.1rem, 0) rotate(25deg);
        transform: translate3d(-0.2rem, 0.1rem, 0) rotate(25deg);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(25deg);
        transform: translate3d(0, 0, 0) rotate(25deg);
    }
}

@-webkit-keyframes cap {
    0% {
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }
    10% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    20% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    30% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    40% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    50% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
    }
    60% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    70% {
        -webkit-transform: rotateX(63deg);
        transform: rotateX(63deg);
    }
    80% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    90% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    100% {
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }
}

@keyframes cap {
    0% {
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }
    10% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    20% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    30% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    40% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    50% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
    }
    60% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    70% {
        -webkit-transform: rotateX(63deg);
        transform: rotateX(63deg);
    }
    80% {
        -webkit-transform: rotateX(62deg);
        transform: rotateX(62deg);
    }
    90% {
        -webkit-transform: rotateX(65deg);
        transform: rotateX(65deg);
    }
    100% {
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }
}
